@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> Localizer
@inject IStringLocalizer Localizer1

<h1>@Localizer1["Hello"]</h1>
<h1>@Localizer["Hello"]</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
