@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = CultureInfo.CurrentUICulture.Name == "fr-FR"
            ? Localizer["Privacy Policy"]
            : Html.Raw(ViewData["Title"]);
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>
